:root {
  --title-font: "Abril Fatface", cursive;
  --primary-color: rgb(24, 66, 145);
  --second-color: rgba(233, 231, 229, 0.295);
}
body {
  font-family: "League Spartan", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--title-font);
}
h1 {
  font-size: 80px;
  line-height: 1.3;
}
h2 {
  font-size: 60px;
  line-height: 3;
}
.hero-homepage p {
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: bold;
}
.hero-homepage {
  background-color: var(--second-color);
  padding: 80px 0px;
  text-align: center;
}
.btn-branding {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px;
}
.project-description {
  padding: 80px 40px;
}
p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
}

.content-container {
  padding: 40px 10px;
}
.content {
  margin: 10px;
}
.content h1 {
  font-size: 60px;
}
.content h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.content p {
  font-size: 19px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px !important;
    line-height: 1.5 !important;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .hero-homepage {
    padding-bottom: 10px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .content {
    text-align: center;
  }
}
